{% extends 'base.html' %}

{% block content %}

    <form action="/legislators" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save"/>
    </form>
    <br>
    {% for legislator in legislators %}
        <table>
            {% for label, value in legislator.get_fields %}
                <tr>
                    <td>{{ label }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}


<!-- {% for item in items %}
    <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
{% endfor %} -->
